      <!-- Main Footer -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2023-2024 <a href="https://github.com/Islam412">Islam Hamdy</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <a target="_blank" class="text-danger" href="https://github.com/Islam412"><i class="fab fa-lg fa-github"></i></a>
            <a target="_blank" class="text-danger" href="https://www.linkedin.com/in/islam-hamdy-62a94826b/"><i class="fab fa-lg fa-linkedin"></i></a>
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100090174739803&mibextid=ZbWKwL"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
            <a target="_blank" class="text-warning" href="https://instagram.com/esso4_12?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
        </div>
      </footer>